<form action="FormAction">
    <label for="First Name">First Name</label><br>
    <input type="text"><br>
    <label for="Last Name">Last Name</label><br>
    <input type="text"><br>
    <button>Submit</button>
</form>